@model IEnumerable<CarsListReadOnly.Models.Car>

<div>
	<h3>Cars List</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Manufacturer</th>
				<th>Model</th>
				<th>Year</th>
				<th>Price</th>
				<th>Brief description</th>
				<th>Availability</th>
			</tr>			
		</thead>
		<tbody>
			@foreach(var item in Model)
			{
				<tr>
					<td>@item.Manufacturer</td>
					<td>@item.Model</td>
					<td>@item.Year</td>
					<td>@item.Price</td>
					<td>@item.Description</td>
					<td>@(item.IsAvailable ? "In Stock" : "Out of Stock")</td>
				</tr>
			}
		</tbody>
	</table>
</div>
